// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="fww"] {
  --engrid__page_background-color: #ffffff;
  --error__color: #f24235;
  
  // TYPOGRAPHY DEFAULT
  --default_font-family: "Graphik", "Arial", "sans-serif";
  // --default_color: initial;
  // --default_font-size: var(--root_font-size);
  // --default_font-weight: initial;
  // --default_line-height: initial;

  // TYPOGRAPHY H1
  --h1_font-family: "GraphikBlack", "Arial Black", "sans-serif";
  // --h1_color: initial;
  // --h1_font-size: calc(var(--root_font-size) * var(--scale-up_160pct));
  // --h1_font-weight: initial;
  // --h1_line-height: initial;

  // TYPOGRAPHY P
  // --p_font-family: var(--default_font-family);
  // --p_color: initial;
  --p_font-size: 18px;
  // --p_font-weight: initial;
  // --p_line-height: initial;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  // --a_color: initial;
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  --engrid__content_padding: 0px var(--spacing_lg);

  // TYPOGRAPHY INPUT
  --input_font-family: "GraphikSemiBold", "Arial Black", "sans-serif";
  // --input_color: #000000;
  // --input_font-size: var(--root_font-size);
  // --input_font-weight: initial;
  // --input_line-height: initial;
  --input_background-color: transparent;
  --input_border-width: 0px;
  // --input_border-color: #dfdfe1;
  --input_border-radius: 0px;
  --input_placeholder-color: #7a7c7a;
  --input_placeholder-font-weight: 500;
  --input_box-shadow: inset none;
  --input__background-color: #ffffff;

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  // --input_color_hover: var(--input_color);
  // --input_background-color_hover: var(--input_background-color);
  // --input_border-color_hover: #767677;
  // --input_border-bottom-color_hover: var(--input_border-color_hover);
  // --input_box-shadow_hover: --input_box-shadow;

  // TYPOGRAPHY BUTTON
  --button_font-family: "GraphikBlack", "Arial Black", "sans-serif";
  --button_color: #000000;
  // --button_font-size: var(--root_font-size);
  --button_font-weight: 600;
  // --button_line-height: initial;
  --button_background-color: #ffffff;
  --button_border-width: 1px;
  --button_border-color: #000000;
  // --button_border-radius: 6px;

  // TYPOGRAPHY BUTTON:HOVER
  --button_color_hover: #000000;
  --button_background-color_hover: #FFF6BD;
  // --button_border-color_hover: var(--button_background-color_hover);

  // TYPOGRAPHY BUTTON:SELECTED
  --button_color_checked: #000000;
  --button_background-color_checked: #ffe643;
  // --button_border-color_checked: var(--button_border-color_hover);

  // DONATION PAGE
  --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  --recurring-frequency__button_count: 4;
  --donation-amount__button_count: 3;
  --give-by-select__button_count: 1;

  --donation-amount__button_background-color_checked: #ffe643;
  --donation-amount__button_border-color_hover: #000000;
  --donation-amount__button_border-color_checked: #000000;

  --radio_font-family: "Graphik", "Arial", "sans-serif";

  --recurring-frequency__button_background-color_hover: #FFF6BD;
  --recurring-frequency__button_background-color_checked: #ffe643;

  --submit__button_background-color: #ffe643;
  --submit__button_background-color_hover: #ffd600;
  --submit__button_border-color_hover: #000000;
  --submit__button_font-size: 21px;

  --checkbox_font-size: 14px;
  // this is defined & used only within this stylesheet
  --strong_font-family: "GraphikSemiBold", "Arial Black", "sans-serif";  

  --give-by-select__button_border-color_checked: #000000;
  --give-by-select__button_border-color_hover: #000000;
  --give-by-select__button_background-color_checked: #ffe643;

  --engrid__content-footer_background-color: #ffffff;
  --engrid__body-headerOutside_background-color: #ffffff;

  --engrid__body_box-shadow: none;

  --fields_spacing-block: 6px;

  --checkbox_border-width: 2px;
  --checkbox_border-color: #878787;
  --checkbox_border-color_hover: #878787;
  --checkbox_border-color_checked: #ffdd00;

  --engrid__content-footer_background-color: #000000;
  --engrid__content-footer_padding: calc(var(--spacing_lg) * 0.5) var(--spacing_lg);
}

[data-engrid-theme="fww"] {
  
  /* Hide NPCA unused sections */
  &#en__pagebuilder .page-alert,
  &#en__pagebuilder .content-header,
  &#en__pagebuilder .body-header,
  &#en__pagebuilder .body-bannerOverlay,
  &#en__pagebuilder .body-bottom,
  &#en__pagebuilder .body-footer,
  &#en__pagebuilder .body-footerOutside,
  &#en__pagebuilder .content-footerSpacer,
  &#en__pagebuilder .content-preFooter,
  &#en__pagebuilder .page-backgroundImageOverlay{
    display: none !important;
  }

  &#en__pagebuilder #engrid{
    width: calc(100% - 51px);
  }

  // Adds styling behind the page during aggressive overscrolling
  &:not([data-engrid-embedded])[data-engrid-js-loading="finished"]:before {
      z-index: -99;
      content: "";
      width: 100vw;
      height: 100vh;
      position: fixed;
      background: linear-gradient(180deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 50%);
  }

  [class*=validationFail] label{
    color: #000000;
  }

  .en__component .en__field__error{
    margin-bottom: 0.75rem;
  }

  [class*=validationFail]:not(.en__field--donationAmt) label{
    display: none !important;
  }

  .en__field__input{
    border-bottom: 1px solid #000000;
  }

  .body-headerOutside > *{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body-title h1{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 0;
  }

  .en__field--recurrfreq {
    --recurring-frequency__button_border-width: 0;
    --recurring-frequency__button_border-radius: 0;
    --recurring-frequency__button_text-transform: uppercase;
    --recurring-frequency__button_font-size: 14px;
    --recurring-frequency__button_padding: 1ch 0;

    // Accounts for use of "outline" over the traditional "border"
    padding-left: calc(var(--fields_spacing-inline) + 2px);
    padding-right: calc(var(--fields_spacing-inline) + 2px);

    margin-bottom: 30px;

      .en__field__item {
        --fields_spacing-block: 0;
        --fields_spacing-inline: 0;

        label {
          outline: 2px solid #000;
          outline-offset: -1px;
          min-height: 43px;
        }

        &:first-child {
          padding-left: calc(0.5rem - 1px) !important;
          label {
            --recurring-frequency__button_border-radius: 100px 0px 0px 100px;
          }
        }

        &:last-child {
          padding-right: calc(0.5rem - 1px) !important;
          label {
            --recurring-frequency__button_border-radius: 0px 100px 100px 0px;
          }
        }
      }
  }

  &[data-engrid-visible-frequency="1"]{
    .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio>.en__field__element .en__field__item{
      --recurring-frequency__button_count: 1;
    }
  }

  &[data-engrid-visible-frequency="2"]{
    .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio>.en__field__element .en__field__item{
      --recurring-frequency__button_count: 2;
    }
  }

  &[data-engrid-visible-frequency="3"]{
    .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio>.en__field__element .en__field__item{
      --recurring-frequency__button_count: 3;
    }
  }

  &[data-engrid-visible-frequency="4"]{
    @media screen and (max-width: 425px) {
      .en__field--recurrfreq {
        --recurring-frequency__button_count: 2;

        .en__field__item:nth-child(1) {
          padding-left: calc(0.5rem - 1px);
          label {
            --recurring-frequency__button_border-radius: 25px 0px 0px 0px;
          }
        }

        .en__field__item:nth-child(2) {
          padding-right: calc(0.5rem - 1px);
          label {
            --recurring-frequency__button_border-radius: 0px 25px 0px 0px;
          }
        }

        .en__field__item:nth-child(3) {
          padding-left: calc(0.5rem - 1px);
          label {
            --recurring-frequency__button_border-radius: 0px 0px 0px 25px;
          }
        }
        
        .en__field__item:nth-child(4n) {
          padding-right: calc(0.5rem - 1px);
          label {
            --recurring-frequency__button_border-radius: 0px 0px 25px 0px;
          }
        }       
      }
    }
  }

  .en__field--donationAmt {
    --donation-amount__button_border-radius: 0;

    --donation-amount__button_color: #000000;
    --give-onetime-donation-amount-appended-label: "";
    --give-monthly-donation-amount-appended-label: "/ mo.";
    --give-quarterly-donation-amount-appended-label: "/ qtr.";
    --give-annual-donation-amount-appended-label: "/ yr.";
    --donation-amount__button_padding: 12px 0;
    
    .en__field__item {
      --fields_spacing-block: 0;
      --fields_spacing-inline: 0;

      // Accounts for use of "outline" over the traditional "border"
      // padding-left: calc(var(--fields_spacing-inline) + 2px);
      // padding-right: calc(var(--fields_spacing-inline) + 2px);
      
      &:first-child {
        padding-left: calc(0.5rem + 1px) !important;
      }

      &:nth-child(3n) {
        padding-right: calc(0.5rem + 1px) !important;
      }      

      &:nth-child(4n) {
        padding-left: calc(0.5rem + 1px) !important;
      }
      
      &:last-child {
        padding-right: calc(0.5rem + 1px) !important;
      }

      label {
        --donation-amount__button_border-width: 0;
        outline: 2px solid #000; 
        outline-offset: -1px;
        white-space: nowrap; 

        &:after{
          font-size: var(--donation-amount__button_font-size) !important;
        }
      }

      input{
        --donation-amount__button_border-width: 0;
        // padding-top: 1.05ch;
        // padding-bottom: 1.05ch;
      }

      &.en__field__item--other {
        --donation-amount__flex-grow: 1;
        --input_padding: var(--donation-amount__button_padding);
        position: relative;

        &:has(input:not(:placeholder-shown)):before,
        &:has(input:focus):before {
          content: attr(data-currency-symbol);
          left: calc(-43.5px + 50%); //calc(-10px + 50% - 26px);
          position: absolute;
          top: 10px;
          font-family: var(--donation-amount__button_font-family);
          font-size: var(--donation-amount__button_font-size);
          font-weight: var(--donation-amount__button_font-weight);
        }

        input {
          line-height: normal;
          outline: 2px solid #000000;
          outline-offset: -1px;
          text-align: center;
          font-family: var(--donation-amount__button_font-family);
          font-size: var(--donation-amount__button_font-size);
        }
      }
    }
  }


  &[data-engrid-visible-gift-amount="4"] .radio-to-buttons_donationAmt .en__field__item--other{
    padding-left: calc(0.5rem + 1px) !important;
  }

  &[data-engrid-transaction-recurring-frequency] .radio-to-buttons_donationAmt .en__field--donationAmt div:not(.en__field__item--other) .en__field__label--item:after{
    opacity: 1;
  }

  .give-by-select .en__field__element--radio {
    --give-by-select__button_border-width: 0;
    --give-by-select__button_border-radius: 0;
    --give-by-select__button_text-transform: uppercase;
    --give-by-select__button_font-size: 14px;
    --give-by-select__button_padding: 12px 0;
    --give-by-select__button_line-height: 20px;

    .en__field__item {
      --fields_spacing-block: 0;
      --fields_spacing-inline: 0;
      padding-left: calc(0.5rem - 1px) !important;
      padding-right: calc(0.5rem - 1px) !important;
      min-height: 40.73px;

      img{
        height: 19px !important;
        width: auto !important;
        margin: 0;

        &.google-pay-logo {
          position: relative;
          top: -3px;
        }
      
        &.google-pay-type {
          margin-left: 6px;
          margin-right: 20px;
        }
      
        &.paypal-venmo {
          margin: 0 5px;
        }
      }

      label {
        outline: 2px solid #000;
        outline-offset: -1px;
      }     
    }
  }

  .en__submit button {    
    border-radius: 100px;
    border-width: 2px !important;
    margin-bottom: 3rem;
  }

  ::-webkit-input-placeholder,
  ::placeholder,
  :-ms-input-placeholder,
  ::-ms-input-placeholder{
    text-transform: uppercase;
  }

  h3 {
    padding-left: 8px;
    border-left: 4px solid #0057b8;
  }

  b, strong {
    font-family: var(--strong_font-family);
  }

  .live-variable-frequency{
    text-transform: capitalize;
  }

  .content-footer {
    grid-column: bc;
    z-index: 3 !important;
    color: #ffffff;
    line-height: 1rem;
  }

  /* Hides the Custom Supporter field that is added to the bottom of the page to track referrals */
  &:not([data-engrid-debug]) #en__field_supporter_NOT_TAGGED_3{
      display: none;
  }

  /* Styles the Custom Supporter field that is added to the bottom of the page to track referrals */
  &[data-engrid-debug] #en__field_supporter_NOT_TAGGED_3{
      border-width: var(--fields_spacing-inline) !important;
      border-color: rgba(255, 0, 0, .102) !important;
      border-radius: 0px !important;
  }

  @media screen and (min-width: 620px) and (max-width: 1022px) {
    &[data-engrid-js-loading=finished]:before{
      background: #0057b8 !important;
    }

    .body-headerOutside{
      margin-top: 2rem;
      padding-top: 1rem;
      border-top: 10px solid #000000;
    }

    #engrid{
      max-width: 550px;
      margin: 0 auto;
    }

    .content-footer{
      margin-bottom: 3rem;
    }
  }

  @media screen and (min-width: 1023px) {
    &:not(#en__pagebuilder)[data-engrid-layout=leftleft1col] .page-backgroundImage {
        grid-column:rpc/pc
    }

    &:not(#en__pagebuilder)[data-engrid-layout=leftleft1col] .page-backgroundImage figure.media-with-attribution,
    &:not(#en__pagebuilder)[data-engrid-layout=leftleft1col] .page-backgroundImage:before {
        background-position: 50%!important;
        left: 550px;
        right: 0;
        width: calc(100% - 550px)
    }

    &:not(#en__pagebuilder)[data-engrid-layout=rightright1col] .page-backgroundImage {
        grid-column: pc/lpc
    }

    &:not(#en__pagebuilder)[data-engrid-layout=rightright1col] .page-backgroundImage figure.media-with-attribution,
    &:not(#en__pagebuilder)[data-engrid-layout=rightright1col] .page-backgroundImage:before {
        background-position: 50%!important;
        left: 0;
        right: 550px;
        width: calc(100% - 550px)
    }
  }

  &[data-engrid-subtheme="multistep"] {
    // --h1_font-weight: 900;
    --h2_font-size: 1.5rem;
    // --h2_font-weight: 700;
    // --label_letter-spacing: 1.68px;
    /* DONATION AMOUNT BUTTONS */
    // --donation-amount__button_color: #000000;
    // --donation-amount__button_background-color: #e3ecd3;
    // --donation-amount__button_border-color: #e3ecd3;
    // --donation-amount__button_color_hover: #ffffff;
    // --donation-amount__button_background-color_hover: #78a22f;
    // --donation-amount__button_border-color_hover: #78a22f;
    // --donation-amount__button_color_checked: #ffffff;
    // --donation-amount__button_background-color_checked: #78a22f;
    // --donation-amount__button_font-size: 1.5rem;
    // --donation-amount__button_count: 3;
    // --donation-amount__button_padding: 17px 0px 13px;

    // VGS
    --en-vgs-height: 46px;
    &[data-engrid-js-loading="finished"]:before {
      background: #000000;
    }

    //page layout when not embedded (veritcal columns)
    &#en__pagebuilder,
    &:not(#en__pagebuilder):not([data-engrid-embedded]) {
      .en__component--row {
        width: 430px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* OTHER AMOUNT FIELD */
    // .radio-to-buttons_donationAmt .en__field--donationAmt {
    //   .en__field__item.en__field__item--other {
    //     flex-basis: 100%;
    //     position: relative;
    //   }

    //   .en__field__item--other:before {
    //     content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="20" fill="none" viewBox="0 0 11 20"><path fill="%23000000" d="M10.268 12.176c-.097-.327-.214-.612-.352-.853-.138-.242-.335-.478-.591-.71-.257-.23-.488-.416-.692-.557-.205-.142-.486-.3-.843-.475s-.64-.305-.848-.39c-.208-.086-.51-.203-.904-.352-.35-.134-.61-.236-.782-.307-.17-.07-.396-.17-.675-.301-.279-.13-.487-.246-.625-.346-.137-.1-.284-.223-.44-.368-.157-.145-.267-.3-.33-.463-.063-.164-.095-.343-.095-.536 0-.506.223-.919.67-1.239.446-.32 1.023-.48 1.73-.48.312 0 .63.043.954.129.324.085.6.182.831.29.231.108.449.227.654.357.204.13.35.229.435.296.085.067.14.111.162.134.097.074.197.1.301.078.112-.008.197-.067.257-.179l.904-1.63c.09-.148.07-.29-.056-.423-.044-.045-.1-.097-.167-.157s-.212-.167-.436-.323c-.223-.157-.46-.296-.708-.419-.25-.123-.573-.247-.972-.374-.397-.126-.809-.212-1.233-.256V.357c0-.104-.033-.19-.1-.257C6.25.034 6.164 0 6.06 0H4.553c-.096 0-.18.035-.25.106-.071.07-.107.154-.107.251v2.01c-1.168.222-2.117.72-2.846 1.495-.729.773-1.094 1.674-1.094 2.7 0 .306.032.596.095.87.063.276.142.524.235.743.093.22.225.435.396.648.171.212.333.394.485.546.153.153.352.311.597.475.246.163.456.296.631.396.175.1.408.216.698.346.29.13.519.229.686.296.168.066.396.16.687.278.401.157.7.278.893.363.193.086.439.205.736.357.298.153.515.292.653.419.138.126.262.283.374.469.112.186.168.383.168.591 0 .588-.23 1.042-.687 1.361-.457.32-.988.48-1.59.48-.275 0-.55-.03-.826-.089-.967-.193-1.871-.658-2.712-1.395l-.022-.022c-.067-.082-.157-.115-.268-.1-.12.014-.205.06-.257.134l-1.15 1.506c-.111.149-.104.302.023.458.037.044.102.112.195.2.093.09.266.23.52.42.252.19.527.368.825.535.298.168.675.333 1.133.497.458.163.932.279 1.423.346v1.953c0 .097.035.18.106.251.07.07.154.106.251.106h1.507c.104 0 .19-.033.257-.1s.1-.153.1-.257V17.69c1.183-.194 2.145-.702 2.885-1.524.74-.822 1.11-1.802 1.11-2.94 0-.373-.048-.722-.146-1.05z"/></svg>');
    //     font-size: 20px;
    //     font-weight: 700;
    //     height: 20px;
    //     left: 19px;
    //     line-height: 0;
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     width: 11px;
    //   }

    //   .en__field__item--other:after {
    //     color: #000000;
    //     content: "USD";
    //     display: block;
    //     font-size: 12px;
    //     font-weight: bold;
    //     height: 0;
    //     line-height: 0;
    //     position: absolute;
    //     right: 21px;
    //     top: 50%;
    //   }

    //   .en__field__item--other input {
    //     padding: 16px 58px 10px 39px;
    //     background-color: #e3ecd3;
    //     color: #000000;
    //     box-shadow: none;
    //     font-size: var(--input_font-size);
    //   }

    //   .en__field__label--item:after {
    //     font-size: 40% !important;
    //     align-self: center;
    //     margin-left: 0 !important;
    //     letter-spacing: -1px;
    //   }
    // }

    // .radio-to-buttons_donationAmt
    //   .en__field--donationAmt.en__field--radio.en__field--withOther--active
    //   .en__field__item
    //   .en__field__input--other {
    //   background-color: #e3ecd3;
    //   color: #000000;
    //   border-color: #e3ecd3;
    // }

    /* RECURRING FREQUENCY BUTTONS */
    // --recurring-frequency__button_color: #000000;
    // --recurring-frequency__button_background-color: #e3ecd3;
    // --recurring-frequency__button_border-color: #e3ecd3;
    // --recurring-frequency__button_color_hover: #ffffff;
    // --recurring-frequency__button_background-color_hover: #78a22f;
    // --recurring-frequency__button_border-color_hover: #78a22f;
    // --recurring-frequency__button_color_checked: #ffffff;
    // --recurring-frequency__button_background-color_checked: #78a22f;
    // --recurring-frequency__button_border-color_checked: #78a22f;
    // //--recurring-frequency__button_font-family: "HarmoniaSansPro", sans-serif;
    // --recurring-frequency__button_font-size: 1rem;
    // --recurring-frequency__button_count: 2;
    // --recurring-frequency__button_padding: 23px 14px 20px;

    // .radio-to-buttons_recurrfreq .en__field--recurrfreq.en__field--radio {
    //   margin: 0;
    //   & > .en__field__element .en__field__item {
    //     padding: calc(var(--fields_spacing-block) * 0.5)
    //       var(--fields_spacing-inline) var(--fields_spacing-block);

    //     label:after {
    //       background-image: none;
    //     }

    //     &:last-of-type {
    //       label {
    //         position: relative;
    //         &:after {
    //           background-image: none;
    //           content: url('data:image/svg+xml;utf8,<svg width="55" height="40" viewBox="0 0 55 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.80373 32.3883C5.71656 31.1148 10.2653 28.4764 15.3603 27.9304C16.3609 27.8395 16.543 29.1131 16.0881 29.6591C15.4514 30.3869 14.6324 31.4785 13.7227 32.3883C16.2702 32.5704 18.6356 33.48 21.183 34.0261C23.5485 34.5719 25.9139 34.208 28.0972 33.3892C27.5514 32.8433 27.0966 32.2065 26.5506 31.5697C22.9116 26.3839 20.6372 9.37092 30.0988 8.1882C35.4665 7.46038 40.3793 14.2838 40.6523 19.1056C41.0162 25.4741 37.1951 30.8418 32.0093 34.0261C34.1928 35.4817 36.8312 36.2096 39.6515 36.3914C45.5651 36.6644 49.7501 32.7524 51.7516 27.4755C55.3906 17.8318 52.2974 4.6399 41.9258 0.909784C41.4709 0.727828 41.4709 0 42.0168 0C55.0267 0.181957 56.8463 19.5604 53.5711 28.5672C49.8409 38.8478 37.5589 41.0314 29.8257 35.0267C29.1888 35.2996 28.461 35.6635 27.7332 35.8455C22.7295 37.5741 18.2716 35.1177 13.4497 34.5719C14.0866 35.7547 14.7234 37.0282 15.6332 38.1201C16.2701 38.9389 15.7242 40.3036 14.5415 39.9395C9.62863 38.4839 4.62482 37.3921 0.439816 34.3898C-0.197182 33.844 -0.197182 32.5704 0.80373 32.3883ZM30.0986 32.3883C31.1904 31.7515 32.2821 31.0236 33.1919 30.2048C39.4694 24.9281 40.3792 15.1024 32.555 10.7355C28.9159 8.73393 26.8236 13.1919 26.0956 16.0122C25.0038 20.1062 25.6407 24.8371 27.3693 28.6582C28.1881 30.1138 29.0979 31.2966 30.0986 32.3883ZM10.4474 33.571C10.3565 33.571 10.2653 33.3891 10.2653 33.2981C10.5383 32.2973 11.3572 31.4785 12.2669 30.6597C9.35555 31.4785 6.62635 32.7522 3.71503 33.662C6.44424 35.1177 9.44668 36.0274 12.5398 36.9372C11.9939 35.9365 11.5392 34.9356 10.7204 34.1168C10.5383 33.9349 10.4474 33.753 10.4474 33.571Z" fill="black"/></svg> ');
    //           position: absolute;
    //           right: -35px;
    //           top: -3px;
    //           left: initial;
    //           bottom: initial;
    //           width: auto;
    //           transition: opacity 0.2s ease-in-out;
    //         }
    //       }
    //       input:checked + label:after {
    //         opacity: 0;
    //       }
    //     }

    //     input:checked + label:after,
    //     input:hover + label:after {
    //       filter: none;
    //       transform: none;
    //     }
    //   }
    // }

    /* GENERIC BUTTONS */
    // --button_color: #ffffff;
    // --button_font-size: 1.5rem;
    // --button_font-weight: 900;
    // --button_background-color: #f1700b;
    // --button_border-width: 0;
    // --button_border-radius: 0px;

    /* GENERIC INPUT STYLES */
    // --fields_spacing-inline: 3px;
    // --fields_spacing-block: 3px;
    // --input_padding: 9px 10px 6px;
    // --input_font-size: 18px;
    // --checkbox_font-size: 14px;
    // --checkbox_color_checked: #000;

    /* EMBEDDED SECTIONS STYLING */
    &[data-engrid-embedded] {
      height: 100vh;

      form.en__component {
        margin: 0 auto;
        display: grid;
        grid-auto-flow: column;

        & > .en__component {
          height: 100vh;
          width: 350px;
          padding: 45px 40px;

          & > .en__component {
            height: 100%;
          }
        }

        .en__component--row
          > .en__component--column
          .en__component:first-of-type
          > *:first-child {
          margin-top: 0;
          padding-top: 0;
        }

        .en__component--row
          > .en__component--column
          .en__component:last-of-type
          > *:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
    /* END EMBEDDED SECTIONS STYLING */

    /* FURTHER CUSTOMISATIONS */
    .en__field--recurrfreq > .en__field__label,
    .en__field--donationAmt > .en__field__label {
      display: none;
    }

    // .radio-to-buttons_donationAmt
    //   .en__field__label--item
    //   .engrid-currency-symbol {
    //   font-size: 1rem;
    //   font-weight: 500;
    //   margin-right: -2px;
    //   margin-top: 2px;
    //   position: initial;
    // }

    .en__field--donationAmt .en__field__label--item {
      align-items: flex-start;
    }

    .en__component--column--1 h1 {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    .section-count {
      position: absolute;
      right: 0;
      bottom: -30px;
      font-size: 10px;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.84px;
      color: black;
      span {
        font-weight: bold;
      }
    }

    // .credit-card-flags {
    //   margin-bottom: 25px;
    //   text-align: center;
    // }

    // &[data-engrid-transaction-recurring-frequency="onetime"] {
    //   .monthly-upsell-message p {
    //     max-height: 100px;
    //   }
    // }

    // .monthly-upsell-message p {
    //   font-family: "Kalam", cursive;
    //   line-height: 20px;
    //   font-size: 16px;
    //   overflow: hidden;
    //   margin-top: 10px;
    //   padding: 0;
    //   transition: max-height 0.2s ease-in-out;
    // }

    // &:not(#en__pagebuilder) .monthly-upsell-message p {
    //   max-height: 0;
    // }

    .en__submit {
      display: none;
    }

    //Adjust CC expiry fields to fit label width
    // .en__field--ccexpire .en__field__element--splitselect {
    //   .en__field__item:first-of-type {
    //     flex-basis: 56%;
    //   }
    //   .en__field__item:last-of-type {
    //     flex-basis: 44%;
    //   }
    // }

    /* SECTION NAVIGATION */
    .section-navigation {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      button {
        position: relative;
        height: 50px;
        min-width: 60px;
        padding: 0 12px;
        border-radius: var(--button_border-radius);
        color: var(--button_color);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: var(--button_font-weight);
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.84px;
        margin-bottom: 0;
        transform: translateZ(0);
        backface-visibility: hidden;
        small {
          font-size: 10px;
          font-weight: 400;
        }
        &.section-navigation__previous {
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: var(--button_background-color);
            opacity: 0.3;
            transition: opacity 0.2s;
          }
          &:hover {
            &::before {
              opacity: 0.5;
            }
          }
        }

        &.section-navigation__submit,
        &.section-navigation__next {
          background-color: var(--button_background-color);
          opacity: 1;
          width: 190px;
          svg {
            transition: 0.3s transform ease-in-out;
            transform: translateX(15px);
          }
          &:hover {
            background-color: var(--button_background-color);
            svg {
              transform: translateX(30px);
            }
          }
        }
        &[data-section-id="0"] {
          width: 100%;
        }
      }
    }

    //thank you page styling
    &[data-thank-you] {
      .en__component--imageblock {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: relative;
        img {
          width: 150px !important;
          height: 150px !important;
          object-fit: cover;
          border-radius: 100%;
        }
        &::after,
        &::before {
          content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="46" height="38" fill="none" viewBox="0 0 46 38"><path fill="%23C92533" d="M33.707 0C29.268 0 25.174 2.166 23 5.664 20.826 2.166 16.732 0 12.293 0 5.504 0 0 5.693 0 11.83 0 27.245 23 38 23 38s23-10.755 23-26.17C46 5.693 40.496 0 33.707 0z"/></svg>');
          position: absolute;
          top: 0;
          right: 0;
          width: 46px;
          height: 38px;
        }
      }
      form.en__component {
        & > .en__component {
          padding: 100px 30px;
          margin: auto;
        }
      }
      footer {
        position: fixed;
        left: 0;
        width: 100vw;
        bottom: 0;
        height: 132px;
        background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="132" viewBox="0 0 400 132" width="400" xmlns="http://www.w3.org/2000/svg"> <path d="M0 110.582L400 0v128c0 2.209-1.791 4-4 4H0v-21.418z" fill="%23A3D1D6"></path> <path d="M0 73.5L400 132H0V73.5z" fill="%23007cf9"></path></svg>');
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: -1;
        svg {
          display: none;
        }
      }
      h1 {
        font-family: var(--h1_font-family);
        font-size: 50px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.83;
        letter-spacing: normal;
        text-align: left;
        color: var(--color_primary);
        margin-bottom: 15px;
        white-space: nowrap;
      }
      p {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: left;
        &.small {
          font-size: 12px;
          font-weight: 500;
          line-height: 1.5;
        }
      }
    }
  }
}