// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="fww"] {
  --engrid__page_background-color: #0057b8;
  --error__color: #f24235;
  
  // TYPOGRAPHY DEFAULT
  --default_font-family: "Graphik", "Arial", "sans-serif";
  // --default_color: initial;
  // --default_font-size: var(--root_font-size);
  // --default_font-weight: initial;
  // --default_line-height: initial;

  // TYPOGRAPHY H1
  --h1_font-family: "GraphikBlack", "Arial Black", "sans-serif";
  // --h1_color: initial;
  // --h1_font-size: calc(var(--root_font-size) * var(--scale-up_160pct));
  // --h1_font-weight: initial;
  // --h1_line-height: initial;

  // TYPOGRAPHY P
  // --p_font-family: var(--default_font-family);
  // --p_color: initial;
  // --p_font-size: var(--root_font-size);
  // --p_font-weight: initial;
  // --p_line-height: initial;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  // --a_color: initial;
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  // TYPOGRAPHY INPUT
  // --input_font-family: var(--default_font-family);
  // --input_color: #000000;
  // --input_font-size: var(--root_font-size);
  // --input_font-weight: initial;
  // --input_line-height: initial;
  // --input_background-color: #fafafa;
  // --input_border-width: 1px;
  // --input_border-color: #dfdfe1;
  // --input_border-radius: 6px;
  // --input_placeholder-color: var(--color_light-gray);
  // --input_box-shadow: inset 0 2px 2px -1px rgba(74, 74, 104, 0.1);

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  // --input_color_hover: var(--input_color);
  // --input_background-color_hover: var(--input_background-color);
  // --input_border-color_hover: #767677;
  // --input_border-bottom-color_hover: var(--input_border-color_hover);
  // --input_box-shadow_hover: --input_box-shadow;

  // TYPOGRAPHY BUTTON
  --button_font-family: "GraphikBlack", "Arial Black", "sans-serif";
  --button_color: #000000;
  // --button_font-size: var(--root_font-size);
  // --button_font-weight: initial;
  // --button_line-height: initial;
  --button_background-color: #ffffff;
  --button_border-width: 1px;
  --button_border-color: #000000;
  // --button_border-radius: 6px;

  // TYPOGRAPHY BUTTON:HOVER
  --button_color_hover: #000000;
  --button_background-color_hover: #FFF6BD;
  // --button_border-color_hover: var(--button_background-color_hover);

  // TYPOGRAPHY BUTTON:SELECTED
  --button_color_checked: #000000;
  --button_background-color_checked: #ffe643;
  // --button_border-color_checked: var(--button_border-color_hover);

  // DONATION PAGE
  --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  --recurring-frequency__button_count: 2;
  --donation-amount__button_count: 3;
  // --give-by-select__button_count: 4;

  --radio_font-family: "Graphik", "Arial", "sans-serif";
  --recurring-frequency__button_background-color_hover: #FFF6BD;
  --recurring-frequency__button_background-color_checked: #ffe643;
  --donation-amount__button_background-color_checked: #ffe643;
  --donation-amount__button_border-color_hover: #000000;
  --donation-amount__button_border-color_checked: #000000;
  --input__background-color: #ffffff;
  --input_placeholder-font-weight: 600;
  --input_font-family: "GraphikSemiBold", "Arial Black", "sans-serif";
  --submit__button_background-color: #ffe643;
  --submit__button_background-color_hover: #ffd600;
  --submit__button_border-color_hover: #000000;
  --submit__button_font-size: 21px;
  --checkbox_font-size: 14px;
  --strong_font-family: "GraphikSemiBold", "Arial Black", "sans-serif";
  --p_font-size: 18px;
}

/* Add your custom theme styles here */
[data-engrid-theme="fww"] {
  @mixin until-mobile-l {
    // STYLES
  }

  @mixin from-mobile-l {
    // STYLES
  }

  @mixin simplified-header {
    // STLES
  }

  // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
  &[data-engrid-layout] {
    @media (max-width: 425px) {
      @include until-mobile-l;
    }

    @media (min-width: 426px) {
      @include from-mobile-l;
    }
  }

  // Example of Shared Layout Stylings
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (max-width: $centerleft1col_content-column_min-width) {
      @include simplified-header;
    }
  }

  &[data-engrid-layout="centerright1col"] {
    @media screen and (max-width: $centerright1col_content-column_min-width) {
      @include simplified-header;
    }
  }
}

[data-engrid-theme="fww"] {
  .body-headerOutside {
    background-color: white;
  }
  .en__field--recurrfreq {
      label[for="en__field_transaction_recurrfreq"] {
        display: none !important;
      }
      .en__field__item {
        padding: 0!important;
        label {
          border: 2px solid var(--button_border-color) !important;
          text-transform: uppercase !important;
          font-weight: 600 !important;
        }
        &:nth-child(1) {
          label {
            border-radius: 100px 0px 0px 100px !important;
            border-right-width: 1px !important;
          }
        }
        &:nth-child(2) {
          label {
            border-radius: 0px 100px 100px 0px !important;
            border-left-width: 1px !important;
          }
        }
      }
  }
  .en__field--donationAmt {
    .en__field__item {
      padding: 0 !important;

      label {
        border-radius: 0 !important;
        border-width: 2px !important;        
      }

      &.en__field__item--other {
        input {
          border-width: 1px 2px 2px 1px !important;          
          border-style: solid !important;
          border-color: var(--button_border-color);
          height: 46px !important;
          border-radius: 0 !important;
        }
      }

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        label {
          border-bottom-width: 1px !important;
        }
      }
      &:nth-child(4), &:nth-child(5) {
        label {
          border-top-width: 1px !important;
        }
      }
      &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5) {
        label {
          border-right-width: 1px !important;
        }
      }
      &:nth-child(2), &:nth-child(3), &:nth-child(5) {
        label {
          border-left-width: 1px !important;
        }
      }
    }
  }
  .en__field--ccnumber, .en__field--ccexpire, .en__field--ccvv {
    .en__field__input--vgs {
      border-width: 0 0 1px 0 !important;
      border-color: var(--button_border-color) !important;
      border-radius: 0 !important;
      background-color: var(--input__background-color) !important;
      box-shadow: none !important;
    }
  }
  .en__field--firstName, .en__field--lastName, .en__field--emailAddress, .en__field--city, .en__field--postcode, .en__field--address1, .en__field--address2, .en__field--region, .en__field--country {
    input, select {
      border-width: 0 0 1px 0 !important;
      border-color: var(--button_border-color) !important;
      border-radius: 0 !important;
      background-color: var(--input__background-color) !important;
      box-shadow: none !important;
    }
    label {
      display: none !important;
    }
  }

  .en__submit button {    
    border-radius: 100px;
    border-width: 2px !important
  }

  input::-webkit-input-placeholder  {
    text-transform: uppercase;
  }
  h3 {
    padding-left: 8px;
    border-left: 4px solid #0057b8;
  }
  b, strong {
    font-family: var(--strong_font-family);
  }
}