// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.

@import "./shared-styles";
[data-engrid-theme="fww"] {
  @import "./themes/fww";
  &[data-engrid-subtheme="multistep"] {
    @import "./themes/fww-multistep";
  }
}
